<a href="https://colab.research.google.com/github/nileshrathod17/Appliances-Energy-Predication-Capstone-Project/blob/main/Appliances_Energy_Predication_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



Supervised ML- Regression 

Appliances-Energy-Predication-Capstone-Project





In this time of global uncertainty world needs energy and in increasing quantities to support economic and social progress and build a better quality of life, in particular in developing countries. But even in today’s time there are many places especially in developing world where there are outages. These outages are primary because of excess load consumed by appliances at home. Heating and cooling appliances takes most power in house. In this project we will be analysing the appliance usage in the house gathered via home sensors. All readings are taken at 10 mins intervals for 4.5 months . The goal is to predict energy consumption by appliances .
In the age of smart homes, ability to predict energy consumption can not only save money for end user but can also help in generating money for user by giving excess energy back to Grid (in case of solar panels usage). In this case regression analysis will be used to predict Appliance energy usage based on data collected from various sensors.

Problem Statement
We should predict Appliance energy consumption for a house based on factors like temperature, humidity & pressure . In order to achieve this, we need to develop a supervised learning model using regression algorithms. Regression algorithms are used as data consist of continuous features and there are no identification of appliances in dataset.

The Data
The date sets can be downloaded from Kaggle .
There are 29 features to describe appliances energy use :
1. date : time year-month-day hour:minute:second
2. lights : energy use of light fixtures in the house in Wh
3. T1 : Temperature in kitchen area, in Celsius
4. T2 : Temperature in living room area, in Celsius
5. T3 : Temperature in laundry room area
6. T4 : Temperature in office room, in Celsius
7. T5 : Temperature in bathroom, in Celsius
8. T6 : Temperature outside the building (north side), in Celsius
9. T7 : Temperature in ironing room, in Celsius
10.T8 : Temperature in teenager room 2, in Celsius
11. T9 : Temperature in parents’ room, in Celsius
12. T_out : Temperature outside (from Chievres weather station), in Celsius
13. Tdewpoint : (from Chievres weather station), Â°C
14. RH_1 : Humidity in kitchen area, in %
15. RH_2 : Humidity in living room area, in %
16. RH_3 : Humidity in laundry room area, in %
17. RH_4 : Humidity in office room, in %
18. RH_5 : Humidity in bathroom, in %
19. RH_6 : Humidity outside the building (north side), in %
20. RH_7 : Humidity in ironing room, in %
21. RH_8 : Humidity in teenager room 2, in %
22. RH_9 : Humidity in parents’ room, in %
23. RH_out :Humidity outside (from Chievres weather station), in %
24. Pressure : (from Chievres weather station), in mm Hg
25. Wind speed: (from Chievres weather station), in m/s
26. Visibility :(from Chievres weather station), in km
27. Rv1 :Random variable 1, non-dimensional
28. Rv2 :Random variable 2, non-dimensional
29. Appliances : Total energy used by appliances, in Wh

In [1]:
# Importing all the relevent files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing, model_selection, metrics
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Capstone Project_Superviser ML Regression/energydata_complete.csv'
energydata_complete_df=pd.read_csv(file_path)

In [4]:
# Reading the data
energydata_complete_df.head()

               date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  11-01-2016 17:00          60      30  ...        5.3  13.275433  13.275433
1  11-01-2016 17:10          60      30  ...        5.2  18.606195  18.606195
2  11-01-2016 17:20          50      30  ...        5.1  28.642668  28.642668
3  11-01-2016 17:30          50      40  ...        5.0  45.410390  45.410390
4  11-01-2016 17:40          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [5]:
energydata_complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [6]:
# Data Exploration
energydata_complete_df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [7]:
# Print the Rows and Columns
print('The number of rows in dataset is - ' , energydata_complete_df.shape[0])
print('The number of columns in dataset is - ' , energydata_complete_df.shape[1])

The number of rows in dataset is -  19735
The number of columns in dataset is -  29

In [8]:
#Number of null values in all columns
energydata_complete_df.isnull().sum().sort_values(ascending = True)

date           0
Tdewpoint      0
Visibility     0
Windspeed      0
RH_out         0
Press_mm_hg    0
T_out          0
RH_9           0
T9             0
RH_8           0
T8             0
RH_7           0
T7             0
rv1            0
RH_6           0
RH_5           0
T5             0
RH_4           0
T4             0
RH_3           0
T3             0
RH_2           0
T2             0
RH_1           0
T1             0
lights         0
Appliances     0
T6             0
rv2            0
dtype: int64

As shown above , there are no null values in the dataset

In [9]:
from sklearn.model_selection import train_test_split

# 75% of the data is usedfor the training of the models and the rest is used for testing
train, test = train_test_split(energydata_complete_df,test_size=0.25,random_state=40)

In [10]:
train.describe()

         Appliances        lights  ...           rv1           rv2
count  14801.000000  14801.000000  ...  14801.000000  14801.000000
mean      97.835281      3.809202  ...     25.014452     25.014452
std      102.928289      7.940816  ...     14.539819     14.539819
min       10.000000      0.000000  ...      0.006033      0.006033
25%       50.000000      0.000000  ...     12.469764     12.469764
50%       60.000000      0.000000  ...     24.936900     24.936900
75%      100.000000      0.000000  ...     37.736202     37.736202
max     1080.000000     60.000000  ...     49.993173     49.993173

[8 rows x 28 columns]

Given this is not a timeseries problem and we will focus on predicting the appliance consumption , we can ignore Date column

In [11]:
# Divide the columns based on type for clear column management 

col_temp = ["T1","T2","T3","T4","T5","T6","T7","T8","T9"]

col_hum = ["RH_1","RH_2","RH_3","RH_4","RH_5","RH_6","RH_7","RH_8","RH_9"]

col_weather = ["T_out", "Tdewpoint","RH_out","Press_mm_hg",
                "Windspeed","Visibility"] 
col_light = ["lights"]

col_randoms = ["rv1", "rv2"]

col_target = ["Appliances"]

In [12]:
# Seperate dependent and independent variables 
feature_vars = train[col_temp + col_hum + col_weather + col_light + col_randoms ]
target_vars = train[col_target]

In [13]:
feature_vars.describe()

                 T1            T2  ...           rv1           rv2
count  14801.000000  14801.000000  ...  14801.000000  14801.000000
mean      21.685153     20.343487  ...     25.014452     25.014452
std        1.605537      2.199037  ...     14.539819     14.539819
min       16.790000     16.100000  ...      0.006033      0.006033
25%       20.745000     18.790000  ...     12.469764     12.469764
50%       21.600000     20.000000  ...     24.936900     24.936900
75%       22.600000     21.533333  ...     37.736202     37.736202
max       26.260000     29.856667  ...     49.993173     49.993173

[8 rows x 27 columns]